@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

// Bootstrap Stuff
$dark: #292929;
@import '../node_modules/bootstrap/scss/bootstrap.scss';

// some globals

html,
body {
    font-family: 'Raleway', sans-serif;
    background-color: $dark;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
